html, body {
    height: 100vh;
    width: 100vw;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#root {
    height: 100%;
    width: 100%;
}

.sidebar {
    min-width: 320px;
    min-height: 600px;
    width: 20%;
    height: 100vh;
    background: #171717;
    border-right: 2px solid #727272;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    display: inline-block;
    padding: 10px;
}

.main {
    display: inline-block;
    width: 80%;
    max-width: calc(100% - 320px);
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
    left: 320px;
    padding: 10px;
}
.app {
    height: 100%;
    overflow: hidden;
}